@model IEnumerable<CourseProject_SoftwareArchitecture.Models.Session>
<h2>@Model.FirstOrDefault().Coach.CoachName</h2>
@{ 
    if (Model.Count() < 1)
            {
                <p>You don't have a session yet. <a asp-for="AddSession">
                          Add a session</a></p>
            }
            else
            {
                <h3>All Sessions</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Session ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Seat Capacity</th>
                            <th>Daily Start Time</th>
                            <th>Progress Report</th>
                        </tr>
                        @foreach (var session in Model)
                        {
                            <tr>
                                <td>@session.SessionId</td>
                                <td>@session.StartDate</td>
                                <td>@session.EndDate</td>
                                <td>@session.SeatCapacity</td>
                                <td>@session.DailyStartTime</td>
                                <td>
                                    <a asp-controller="Coach" asp-action="AddProgressReport"
                                       asp-route-id="@session.SessionId">Post Progress Report</a>
                                </td>
                            </tr>
                        }
                    </table>
                    </div>
                    }
                    }
